{% macro sidebar() %}

<div class="scroll-sidebar">
    <!-- User profile -->

    <div class="user-profile">
        <!-- User profile image -->
        <div class="profile-img">
            <img src="static/assets/images/users/userav-min.png" alt="user" />
            <!-- this is blinking heartbit-->
            <!-- <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div> -->
        </div>

        <!-- User profile text-->
        <div class="profile-text">
            <h5>Thom Anderson</h5>
            <a href="settings/Settings" class="dropdown-toggle u-dropdown" role="button" aria-haspopup="true"
                aria-expanded="true"><i class="mdi mdi-settings"></i></a>
            <a href="login/logout" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
        </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="nav-devider"></li>
            <li> <a href=""><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a></li>

            <li> <a href="{{url_for('profile')}}"><i class="mdi mdi-clipboard"></i><span class="hide-menu">Profile <span
                class="hide-menu"></a></li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="fa fa-building-o"></i><span class="hide-menu">Organization </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="organization/Department">Department </a></li>
                    <li><a href="organization/Designation">Designation</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="mdi mdi-account-multiple"></i><span class="hide-menu">Employees </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="{{url_for('employee')}}">Employees </a></li>
                    <li><a href="Disciplinary">Disciplinary </a></li>
                    <li><a href="Inactive_Employee">Inactive User </a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="mdi mdi-clipboard-text"></i><span class="hide-menu">Attendance </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="{{url_for('attendance')}}">Attendance List </a></li>
                    <li><a href="{{url_for('addAttendance')}}">Add Attendance </a></li>
                    <li><a href="Attendance_Report">Attendance Report </a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="mdi mdi-account-off"></i><span class="hide-menu">Leave </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="leave/Holidays"> Holiday </a></li>
                    <li><a href="leave/leavetypes"> Leave Type</a></li>
                    <li><a href="{{url_for('leave')}}"> Leave Application </a></li>
                    <li><a href="leave/Earnedleave"> Earned Leave </a></li>
                    <li><a href="leave/Leave_report"> Report </a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="mdi mdi-briefcase-check"></i><span class="hide-menu">Project </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="Projects/All_Projects">Projects </a></li>
                    <li><a href="Projects/All_Tasks"> Task List </a></li>
                    <li><a href="Projects/Field_visit"> Field Visit</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="mdi mdi-receipt"></i><span class="hide-menu">Payroll </span></a>
                <ul aria-expanded="false" class="collapse">
                    <!--<li><a href="Payroll/Salary_Type"> Payroll Type </a></li>-->
                    <li><a href="Payroll/Salary_List"> Payroll List </a></li>
                    <li><a href="Payroll/Generate_salary"> Generate Payslip</a></li>
                    <li><a href="Payroll/Payslip_Report"> Payslip Report</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="mdi mdi-cash"></i><span class="hide-menu">Loan </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="Loan/View"> Grant Loan </a></li>
                    <li><a href="Loan/installment"> Loan Installment</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                        class="mdi mdi-grid"></i><span class="hide-menu">Assets </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="Logistice/Assets_Category"> Assets Category </a></li>
                    <li><a href="Logistice/All_Assets"> Asset List </a></li>
                    <!--<li><a href="Logistice/View"> Logistic Support List </a></li>-->
                    <li><a href="Logistice/logistic_support"> Logistic Support </a></li>
                </ul>
            </li>


            <li> <a href="notice/All_notice"><i class="mdi mdi-clipboard"></i><span class="hide-menu">Notice <span
                            class="hide-menu"></a></li>
            <li> <a href="settings/Settings"><i class="mdi mdi-settings"></i><span class="hide-menu">Settings <span
                            class="hide-menu"></a></li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>

{% endmacro %}