{% from "sidebar.html" import sidebar%}
{% from "header.html" import header%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="GenIT Bangladesh">
    <!-- Favicon icon -->
    <link rel="icon" type="image/ico" sizes="16x16" href="../static/assets/images/favicn.ico">
    <title>H R System (CI)</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

    <link href="../static/assets/css/style.css" rel="stylesheet" media="all">
    <link href="../static/assets/css/print.css" rel="stylesheet" media='print'>
    <!-- You can change the theme colors from here -->
    <link href="../static/assets/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="../static/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="../static/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="../static/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">

    <script src="../static/assets/plugins/jquery/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <link href="../static/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/plugins/calendar/dist/fullcalendar.css" rel="stylesheet" type="text/css" />
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            {{ header() }}
        </header>
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            {{ sidebar() }}
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper">
            <div class="message"></div>
            {% if single_emp %}
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor"><i class="fa fa-users" style="color:#1976d2"></i>{{single_emp[0]}} {{single_emp[1]}}</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-xlg-12 col-md-12">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab" style="font-size: 14px;">  Personal Info </a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#salary" role="tab" style="font-size: 14px;"> Salary</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <center class="m-t-30">
                                                                <img src="../static/assets/images/users/user.png" class="img-circle" width="150" alt="Chow" title="Chow" />
                                                                <h4 class="card-title m-t-10">{{single_emp[0]}} {{single_emp[1]}}</h4>
                                                                <h6 class="card-subtitle"></h6>
                                                            </center>
                                                        </div>
                                                        <div>
                                                            <hr>
                                                        </div>
                                                        <div class="card-body">
                                                            <small class="text-muted">Email address </small>
                                                            <h6>{{single_emp[14]}}</h6>
                                                            <small class="text-muted p-t-30 db">Phone</small>
                                                            <h6>{{single_emp[9]}}</h6>
                                                            <small class="text-muted p-t-30 db">Social Profile</small>
                                                            <br />
                                                            <a class="btn btn-circle btn-secondary" href="" target="_blank"><i class="fa fa-facebook"></i></a>
                                                            <a class="btn btn-circle btn-secondary" href="" target="_blank"><i class="fa fa-twitter"></i></a>
                                                            <a class="btn btn-circle btn-secondary" href="" target="_blank"><i class="fa fa-skype"></i></a>
                                                            <a class="btn btn-circle btn-secondary" href="" target="_blank"><i class="fa fa-google"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <form class="row" action="/Update_Employee" method="post" enctype="multipart/form-data">

                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Employee PIN </label>
                                                            <input type="text" class="form-control form-control-line" placeholder="ID" name="eid" value="{{single_emp[2]}}" disabled>
                                                            <input type="hidden" name="eid" value="{{single_emp[2]}}">
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>First Name</label>
                                                            <input type="text" class="form-control form-control-line" placeholder="Employee's FirstName" name="fname" value="{{single_emp[0]}}" minlength="3" required>
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Last Name </label>
                                                            <input type="text" id="" name="lname" class="form-control form-control-line" value="{{single_emp[1]}}" placeholder="Employee's LastName" minlength="3" required>
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Blood Group </label>
                                                            <select name="blood" value="" class="form-control custom-select">
                                                                <option value="{{single_emp[7]}}">{{single_emp[7]}}</option>
                                                                <option value="O+">O+</option>
                                                                <option value="O-">O-</option>
                                                                <option value="A+">A+</option>
                                                                <option value="A-">A-</option>
                                                                <option value="B+">B+</option>
                                                                <option value="B-">B-</option>
                                                                <option value="AB+">AB+</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Gender </label>
                                                            <select name="gender" class="form-control custom-select">

                                                                <option value="{{single_emp[6]}}">{{single_emp[6]}}</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>User Type </label>
                                                            <select name="role" class="form-control custom-select" required>
                                                                <option value="{{single_emp[5]}}">{{single_emp[5]}}</option>
                                                                <option value="HR">HR</option>
                                                                <option value="EMPLOYEE">Employee</option>
                                                                <option value="ADMIN">Super Admin</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Status </label>
                                                            <select name="status" class="form-control custom-select" required>
                                                                <option value="ACTIVE">ACTIVE</option>
                                                                <option value="ACTIVE">ACTIVE</option>
                                                                <option value="INACTIVE">INACTIVE</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Date Of Birth </label>
                                                            <input type="date" id="example-email2" name="dob" class="form-control" placeholder="" value="{{single_emp[10]}}" required>
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>NID Number </label>
                                                            <input type="text" class="form-control" placeholder="NID Number" name="nid" value="{{single_emp[8]}}" minlength="10" required>
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Contact Number </label>
                                                            <input type="text" class="form-control" placeholder="" name="contact" value="{{single_emp[9]}}" minlength="10" maxlength="15" required>
                                                        </div>

                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Department</label>
                                                            <select name="dept" class="form-control custom-select">
                                                                <option value="{{single_emp[3]}}">{{single_emp[3]}}</option>
                                                                <option value="Administration">Administration</option>
                                                                <option value="Finance, HR, & Admininstration">Finance, HR, & Admininstration</option>
                                                                <option value="Research">Research</option>
                                                                <option value="Information Technology">Information Technology</option>
                                                                <option value="Support">Support</option>
                                                                <option value="Network Engineering">Network Engineering</option>
                                                                <option value="Sales and Marketing">Sales and Marketing</option>
                                                                <option value="Helpdesk">Helpdesk</option>
                                                                <option value="Project Management">Project Management</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Designation </label>
                                                            <select name="deg" class="form-control custom-select">
                                                                <option value="{{single_emp[4]}}">{{single_emp[4]}}</option>
                                                                <option value="3">Chief Executive Officer (CEO)</option>
                                                                <option value="4">Chief Finance & Admin Officer</option>
                                                                <option value="5">Sr. Finance & Admin Officer - I</option>
                                                                <option value="6">Jr. Finance & Admin Officer</option>
                                                                <option value="7">Senior Research Associate-1</option>
                                                                <option value="8">Research Associate-1</option>
                                                                <option value="9">Junior Research Associate</option>
                                                                <option value="10">Research Assistant</option>
                                                                <option value="11">Sr. Office Assistant</option>
                                                                <option value="12">Office Assistant</option>
                                                                <option value="13">IT Analyst</option>
                                                                <option value="14">Cook</option>
                                                                <option value="15">Software Engineer</option>
                                                                <option value="16">System Analyst</option>
                                                                <option value="17">Programmer Analyst</option>
                                                                <option value="18">Sr Software Engineer</option>
                                                                <option value="19">Technical Specialist</option>
                                                                <option value="20">Trainee Engineer</option>
                                                                <option value="21">Intern</option>
                                                                <option value="22">Head of Department</option>
                                                                <option value="23">Business Analyst</option>
                                                                <option value="24">Web Developer</option>
                                                                <option value="25">Big Data Engineer</option>
                                                                <option value="26">Project Manager</option>
                                                                <option value="27">Trainee</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Date Of Joining </label>
                                                            <input type="date" id="example-email2" name="joindate" class="form-control" value="{{single_emp[11]}}" placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Contract End Date</label>
                                                            <input type="date" id="example-email2" name="leavedate" class="form-control" value="{{single_emp[12]}}" placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-4 m-t-10">
                                                            <label>Email </label>
                                                            <input type="email" id="example-email2" name="email" class="form-control" value="{{single_emp[14]}}" placeholder="email@mail.com" minlength="7" required>
                                                        </div>
                                                        <div class="form-group col-md-12 m-t-10">
                                                            <img src="../static/assets/images/users/user.png" class="img-circle" width="150" alt="Chow" title="Chow" />
                                                            <label>Image </label>
                                                            <input type="file" name="image_url" class="form-control" value="">
                                                        </div>
                                                        <div class="form-actions col-md-12">
                                                            <input type="hidden" name="emid" value="Hoo1901">
                                                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                                            <button type="button" class="btn btn-danger">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="salary" role="tabpanel">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">Basic Salary</h3>
                                            <form action="/Add_Salary" method="post" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="form-group col-md-6 m-t-5">
                                                        <label class="control-label">Salary Type</label>
                                                        <select class="form-control  custom-select" data-placeholder="Choose a Category" tabindex="1" name="typeid" required>
                                                            <option value="" selected>Choose Type...</option>
                                                            <option value="Monthly">Monthly</option>
                                                            <option value="Daily">Daily</option>
                                                            <option value="Hourly">Hourly</option>
                                                            <option value="Monthly">Monthly</option>
                                                            <option value="Weekly">Weekly</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6 m-t-5">
                                                        <label>Total Salary</label>
                                                        <input type="text" name="total" class="form-control form-control-line total" placeholder="Total Salary" value="{{ getEmpSalary(single_emp[2]) }}" minlength="3" required>
                                                    </div>
                                                </div>

                                                <h3 class="card-title">Addition</h3>
                                                <div class="row">
                                                    <div class="form-group col-md-6 m-t-5">
                                                        <label>Basic</label>
                                                        <input type="text" name="basic" class="form-control form-control-line basic" placeholder="Basic..." value="">
                                                    </div>
                                                    <div class="form-group col-md-6 m-t-5">
                                                        <label>House Rent</label>
                                                        <input type="text" name="houserent" class="form-control form-control-line houserent" placeholder="House Rent..." value="">
                                                    </div>
                                                    <div class="form-group col-md-6 m-t-5">
                                                        <label>Medical</label>
                                                        <input type="text" name="medical" class="form-control form-control-line medical" placeholder="Medical..." value="">
                                                    </div>
                                                    <div class="form-group col-md-6 m-t-5">
                                                        <label>Conveyance</label>
                                                        <input type="text" name="conveyance" class="form-control form-control-line conveyance" placeholder="Conveyance..." value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <input type="hidden" name="emid" value="{{single_emp[2]}}">
                                                        <input type="hidden" name="sid" value="">
                                                        <button type="submit" style="float: right" class="btn btn-success">Add Salary</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endif %} 
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>

            <footer class="footer"> © 2022 | Developed By GenIT Bangladesh </footer>

        </div>

    </div>

    <script type="text/javascript">
          $('.total').on('input',function() {
            var amount = parseInt($('.total').val());
            $('.basic').val((amount * .50 ? amount * .50 : 0).toFixed(2));
            $('.houserent').val((amount * .40 ? amount * .40 : 0).toFixed(2));
            $('.medical').val((amount * .05 ? amount * .05 : 0).toFixed(2));
            $('.conveyance').val((amount * .05 ? amount * .05 : 0).toFixed(2));
          });
    </script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/assets/js/custom.min.js"></script>

    <!-- ============================================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <!-- ============================================================== -->
    <!--sparkline JavaScript -->
    <script src="../static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--morris JavaScript -->
    <script src="../static/assets/plugins/raphael/raphael-min.js"></script>
    <script src="../static/assets/plugins/morrisjs/morris.js"></script>
    <!-- Chart JS -->
    <!-- CHART COMMENTED....UNCOMMENT WHEN DONE -->
    <!-- <script src="../static/assets/js/dashboard1.js"></script> -->





    <script src="../static/assets/plugins/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="../static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

    <!-- Editable -->
    <script src="../static/assets/plugins/jsgrid/db.js"></script>
    <script type="text/javascript" src="../static/assets/plugins/jsgrid/dist/jsgrid.min.js"></script>
    <!-- This is data table -->

    <script type="text/javascript" src="../static/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="../static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="../static/assets/export/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="../static/assets/export/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="../static/assets/export/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="../static/assets/export/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="../static/assets/export/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="../static/assets/export/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="../static/assets/export/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>


    <!-- Clock Plugin JavaScript -->
    <script src="../static/assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="../static/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="../static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- end - This is for export functionality only -->
    <script src="../static/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../static/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="../static/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/assets/plugins/multiselect/js/jquery.multi-select.js"></script>




    <!-- CALENDAR -->
    <!-- <script type="text/javascript" src="../static/assets/plugins/calendar/jquery-ui.min.js"></script> -->
    <script type="text/javascript" src="../static/assets/plugins/calendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../static/assets/plugins/calendar/dist/cal-init.js"></script>



    <script src="../static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
